<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>CrowdCoding - Admin Page</title>
</head>

<body>
	<div th:insert="fragments/header :: header"></div>

	<div class="container mt-4">
		<h5>Admins</h5>
		<table class="mt-4">
			<thead>
				<tr>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${admins}">
					<td class="align-middle" th:text="${user.name}"></td>
					<td><form method="post" action="admins/revoke" class="">
							<input type="hidden" name="user_id" th:value="${user.id}" />
							<button type="submit" class="btn btn-light">
								<img class="rounded img-fluid" th:src="@{/delete.png}"
									width="20px" height="20px" alt=""></img>
								<!-- Icon made by https://www.flaticon.com/authors/eleonor-wang from www.flaticon.com  -->

							</button>
						</form>
					<td>
				</tr>
			</tbody>
		</table>

		<form method="post" action="admins/add">
			<div class="form-group mt-4">
				<input type="text" placeholder="Username of the user"
					class="u-full-width form-control" name="user_name" />
			</div>
			<button type="submit" class="btn btn-primary u-full-width">Add
				admin</button>
		</form>
	</div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>