<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>CrowdCoding - Admin Page</title>
</head>

<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container mt-3">
		<h5>Existing languages</h5>
		<div class="mt-3">
			<ul class="list-group" th:each="language : ${languages}">
				<li class="list-group-item mt-1" th:text="${language.language}"></li>
			</ul>
		</div>
		<h5 class="mt-4">Add a new language</h5>
		<div class="mt-4">
			<form method="post" action="languages/add">
				<div class="form-group">
					<input type="text" placeholder="Name of the Language"
						class="u-full-width form-control" name="language_name" />
				</div>
				<button type="submit" class="btn btn-primary u-full-width">Add
					language</button>

			</form>
		</div>
	</div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>