<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"
	integrity="sha256-gkWBmkjy/8e1QUz5tv4CCYgEtjR8sRlGiXsMeebVeUo="
	crossorigin="anonymous"></script>
<head>
<title>CrowdCoding - Snippet Editor</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/codeEditor.js}"></script>
<style type="text/css" media="screen">
.ace_editor {
	border: 1px solid lightgray;
	margin: auto;
	height: 200px;
	width: 80%;
	font-size: 16px;
}

.scrollmargin {
	height: 80px;
	text-align: center;
}
</style>

</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<div class="container">
		<div class="form-group mt-1">
			<h1>Snippet Editor</h1>
			<p>
				<label for="snippetName">Name</label> <input type="text"
					class="form-control" id="snippetName" th:value="${snippet.name}">
			</p>
			<p>
				<label for="snippetInputLanguage">Language</label> <select
						class="custom-select" name="snippet_language" id="snippetLanguageSelect">
						
						<option th:if="${language.language != snippet.language.language}"
							th:each="language : ${languages}" 
							th:value="${language.language}"
							th:text="${language.language}"
							>
						</option>
						<option th:if="${language.language == snippet.language.language}"
							th:each="language : ${languages}" 
							th:value="${language.language}"
							th:text="${language.language}"
							selected="selected"
							>
						</option>
				</select>
				<!--<label for="snippetLanguage">Language</label> <input type="text"
					class="form-control" id="snippetLanguage"
					th:value="${snippet.language.language}">-->
			</p>
			<p>
				<label for="snippetAccessibility">Accessibility</label> <input
					type="text" class="form-control" id="snippetAccessiblity"
					th:value="${snippet.accessibility}">
			</p>
		</div>


	</div>
	<div class="container">
		<input type="hidden" name="snippetId" th:value="${snippet.id}">
		<input type="hidden" name="ownerId" th:value="${snippet.owner.id}">
		<!-- <input type="hidden" name="owner" th:value="12">-->
		<pre id="editor1" th:text="${snippet.content}"></pre>
		<div class="scrollmargin"></div>

		<div class="row">
			<button class="col-sm-2 offset-md-3 btn btn-primary" id="btnSave">Save</button>
			<button class="col-sm-2 offset-md-2	 btn btn-primary" id="btnExecute">Execute</button>
		</div>

		<label for="executionOutputContainer" class="display-4">Output</label>
		<div class="bg-light" id="executionOutputContainer" >
			<pre id="executionOutput">None</pre>
		</div>

		<div th:insert="fragments/footer :: footer"></div>
	</div>


</body>
<script>
	var editor1 = ace.edit("editor1", {
		theme : "ace/theme/monokai",
		mode : "ace/mode/python",
		minLines : 20,
		maxLines : 30,
		wrap : true,
		autoScrollEditorIntoView : true
	});
</script>


</html>