<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Snippet Editor</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	
	<p>
		Snippet name:
		<input type="text" th:value="${snippet.name}"/>
	</p>
	<p>
		Snippet language:
		<input type="text" th:value="${snippet.language}"/>
	</p>
	<p>
		Snippet accessibility:
		<input type="text" th:value="${snippet.accessibility}"/>
	</p>
	
	<p style="float: right;">
		Code:
		<textarea rows="10" cols="60" th:value="${snippet.content}"></textarea>
	</p>
	
	<button>Save</button>
	<button>Execute</button>
	
	<div>Execution result...</div>
	
	<div th:insert="fragments/footer :: footer"></div>
</body>


</html>