<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container">
		<h1>Create a snippet</h1>
	</div>
	<form method="POST" th:action="@{/add}" th:object="${newCodeSnippet}">
      <input type="text" placeholder="Name of the Snippet" class="u-full-width" th:field="*{name}" />
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name errors</span>
		
		<select th:field="*{language}">
			<option value="" disabled selected>Language of the Snippet</option>
		    <option th:value="'Python'" th:text="Python"></option>
		    <option th:value="'TP4'" th:text="TP4"></option>
		</select>
		<span th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language errors</span>
		
		<select th:field="*{accessibility}">
			<option value="" disabled selected>Accessibility of the Snippet</option>
		    <option th:value="'Public'" th:text="Public"></option>
		    <option th:value="'Private'" th:text="Private"></option>
		</select>
		<span th:if="${#fields.hasErrors('accessibility')}" th:errors="*{accessibility}">Accessibility errors</span>
		
		<button type="submit">Create new Code Snippet</button>
	</form>
	
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>