<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="base">
<head>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<link rel="shortcut icon" type="image/png" th:href="@{/assets/code.png}"/>
  	<!-- Icon made by Freepik from flaticons.com -->
  	<link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
  	
</head>