<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>My Snippets</title>
</head>

<body>
	<div th:insert="fragments/header :: header"></div>

	<div class="container">
		<h1>My Snippets</h1>
		
		<div th:each="snippet : ${snippets}">
			<a th:href="@{'/snippets/' + ${snippet.id} + '/edit'}" class="btn" style="width: 50%;">
				<div class="card">
					<div class="card-header text-left">
						<h4 th:text="${snippet.name}"></h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col text-left">
								<span class="font-italic text-muted">Language</span>
								<p th:text="${snippet.language}"></p>
							</div>
							<div class="col">
								<span class="font-italic text-muted">Accessibility</span>
								<p th:text="${snippet.accessibility}"></p>
							</div>
						</div>
					</div>
	        	</div>
	        </a>
	    </div>
	</div>
	<div th:insert="fragments/footer :: footer"></div>
</body>
</html>